<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h2>Create New User</h2>
    <form th:action="@{/admin/add}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{username}" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><input type="text" th:field="*{type}" /></td>
            </tr>
        </table>
        <input type="submit" value="Create User" class="btn btn-primary"/>
    </form>
</body>
</html>
