<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            background-image: linear-gradient(to right top, #c4dff4, #b5d8f6, #a6d1f7, #97c9f9, #8ac1fb);
            background-repeat: no-repeat;
        }
        h1 {
            text-align: center;
        }
    </style>

</head>
<body>
<h1>Employee</h1>
<div class="container">
    <div class="row">

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Manage Order</p>
                    <a href="/employee/orders/create" class="btn btn-primary">Add Order</a>
                    <a href="/employee/orders/list" class="btn btn-primary">See Orders</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>

