<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h2>Update Product</h2>
<form th:action="@{/admin/products/update/{id}(id=${product.id})}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" />
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}" /></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}" /></td>
        </tr>
    </table>
    <input type="submit" value="Update Product" class="btn btn-primary"/>
</form>
</body>
</html>
