<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h2>Update Order</h2>
<form th:action="@{/employee/orders/update/{id}(id=${order.id})}" th:object="${order}" method="post">

    <div class="form-group">
        <label for="orderStatus">Order Status:</label>
        <input type="text" class="form-control" id="orderStatus" th:field="*{orderStatus}" />
    </div>

    <button type="submit" class="btn btn-primary">Update Order</button>
</form>

</body>
</html>

